# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# Conda packages


# Conda packages
alabaster==0.7.12
altair==4.1.0
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.1
astroid==2.4.2
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
babel==2.8.0
backcall==0.2.0
backports.shutil_get_terminal_size==1.0.0
base58==2.1.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bitarray==1.4.0
bkcharts==0.2
bleach==3.1.5
blinker==1.4
blis==0.7.4
blosc==1.11.1
bokeh==2.1.1
boto==2.49.0
boto3==1.17.27
botocore==1.20.27
bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
colorama==0.4.3
comtypes==1.1.7
contextlib2==0.6.0.post1
contextvars==2.4
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
cython==0.29.21
cytoolz==0.10.1
dask==2.20.0
dateparser==1.0.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
distributed==2.20.0
docutils==0.16
entrypoints==0.3
et_xmlfile==1.0.1
fastcache==1.1.0
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
flake8==3.8.3
flask==1.1.2
fsspec==0.7.4
future==0.18.2
gevent==20.6.2
gitdb==4.0.5
gitpython==3.1.14
glob2==0.7
gmpy2==2.0.8
google-api-core==1.26.1
google-auth==1.27.1
google-cloud-language==2.0.0
google-cloud-speech==2.1.0
googleapis-common-protos==1.53.0
googlenews==1.5.5
greenlet==0.4.16
grpcio==1.32.0
h5py==2.10.0
heapdict==1.0.1
html5lib==1.1
icc_rt==2019.0.0
idna==2.10
imageio==2.9.0
imagesize==1.2.0
immutables==0.14
importlib-metadata==1.7.0
importlib_metadata==1.7.0
intervaltree==3.0.2
ipykernel==5.3.2
ipython==7.16.1
ipython_genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.1
jieba3k==0.35.1
jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter_client==6.1.6
jupyter_console==6.1.0
jupyter_core==4.6.3
jupyterlab==2.1.5
jupyterlab_server==1.2.0
keyring==21.2.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libcst==0.3.17
llvmlite==0.33.0
locket==0.2.0
lxml==4.5.2
markupsafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
mistune==0.8.4
mock==4.0.2
more-itertools==8.4.0
mpmath==1.1.0
multipledispatch==0.6.0
multitasking==0.0.9
murmurhash==1.0.5
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
newspaper3k==0.2.8
nltk==3.5
nose==1.3.7
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.19.5
numpydoc==1.1.0
olefile==0.46
openpyxl==3.0.4
packaging==20.4
pandas==1.3.3
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
path==13.1.0
path.py==12.4.0
pathlib2==2.3.5
pathtools==0.1.2
pathy==0.4.0
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.1.1
pkginfo==1.5.0.1
plotly==4.14.3
pluggy==0.13.1
ply==3.11
preshed==3.0.5
prometheus_client==0.8.0
prompt-toolkit==3.0.5
prompt_toolkit==3.0.5
proto-plus==1.17.0
protobuf==3.15.5
psutil==5.7.0
py==1.9.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pydantic==1.7.3
pydeck==0.6.1
pydocstyle==5.0.2
pyflakes==2.2.0
pygments==2.6.1
pylint==2.5.3
pynacl==1.4.0
pyodbc==4.0.30
pyopenssl==19.1.0
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.16.0
pysocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
pytorch-pretrained-bert==0.6.2
pytz==2020.1
pywavelets==1.1.1
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==19.0.1
qdarkstyle==2.8.1
qtawesome==0.7.2
qtconsole==4.7.5
qtpy==1.9.0
regex==2020.6.8
requests==2.24.0
requests-file==1.5.1
retrying==1.3.3
rope==0.17.0
rsa==4.7.2
rtree==0.9.4
ruamel_yaml==0.15.87
s3transfer==0.3.4
sacremoses==0.0.43
scikit-image==0.16.2
scikit-learn==0.23.1
scipy==1.5.0==py36h9439919_0
seaborn==0.10.
send2trash==1.5.0
sentencepiece==0.1.95
seqeval==1.2.2
setuptools==49.2.0
sgmllib3k==1.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.8
six==1.15.0
sklearn==0.0
smart-open==3.0.0
smmap==3.0.5
snappy==1.1.8==h33f27b4_0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==3.0.5
spacy-legacy==3.0.1
sphinx==3.1.2
sphinxcontrib==1.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.3
spyder==4.1.4
spyder-kernels==1.9.2
sqlalchemy==1.3.18
sqlite==3.32.3==h2a8f88b_0
srsly==2.4.0
statsmodels==0.11.1
streamlit==0.78.0
sympy==1.6.1
tbb==2020.0=h74a9793_0
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
thinc==8.0.2
threadpoolctl==2.1.0=pyh5ca1d4c_0
tinysegmenter==0.3
tk==8.6.10=he774522_0
tldextract==3.1.0
tokenizers==0.10.1
toml==0.10.1
toolz==0.10.0
torch==1.8.0
torchtext==0.6.0
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
transformers==4.3.3
typed-ast==1.4.1
typer==0.3.2
typing-inspect==0.6.0
typing_extensions==3.7.4.2
tzlocal==2.1
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
validators==0.18.2
vc==14.1
vs2015_runtime==14.16.27012=hf0eaf9b_3
wasabi==0.8.2
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.34.2
widgetsnbextension==3.5.1
win_inet_pton==1.1.0
win_unicode_console==0.5
wincertstore==0.2
winpty==0.4.3
wrapt==1.11.2
xlrd==1.2.0
xlsxwriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0=py36h1a4751e_0
xz==5.2.5=h62dcd97_0
yaml==0.2.5=he774522_0
yapf==0.30.0
yfinance==0.1.55
zeromq==4.3.2=ha925a31_2
zict==2.0.0
zipp==3.1.0
zlib==1.2.11==h62dcd97_4
zope==1.0
zope.event==4.4
zope.interface==4.7.1
zstd==1.4.5==ha9fde0e_0

